In [97]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn.preprocessing import PolynomialFeatures 
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import Lasso

import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import cross_val_score

In [98]:
df = pd.read_csv('inequality_class_final.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 28 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   country                          205 non-null    object
 1   federalism_GT                    202 non-null    float64
 2   id                               69 non-null     float64
 3   region_wb                        69 non-null     object
 4   gdp                              69 non-null     float64
 5   statehiste1500_02n               159 non-null    float64
 6   origtime2                        158 non-null    float64
 7   eleva                            193 non-null    float64
 8   avg_temp                         197 non-null    float64
 9   Maddison_gdppc_1990_estimate_ln  194 non-null    float64
 10  lp_lat_abst_fill                 200 non-null    float64
 11  mountains                        196 non-null    float64
 12  log_ocdistance_new               188 non-null    float64
 13  rugged                           173 non-null    float64
 14  tropical                         173 non-null    float64
 15  pmean                            173 non-null    float64
 16  irri_impact5                     180 non-null    float64
 17  frstdays                         146 non-null    float64
 18  sd_emeanclip                     153 non-null    float64
 19  Urbanpopulationoftotalpop        195 non-null    float64
 20  dist2suitable_km_new             188 non-null    float64
 21  Ygini_disp                       178 non-null    float64
 22  Fixedtelephonesubscriptionsp     191 non-null    float64
 23  Employmentinagricultureof        180 non-null    float64
 24  Accesstoelectricityofpopu        189 non-null    float64
 25  pln_sxHr_mean                    171 non-null    float64
 26  agyears_ext                      200 non-null    float64
 27  popd_1500AD                      179 non-null    float64
dtypes: float64(26), object(2)
memory usage: 45.0+ KB

 go ahead and drop variables that are not needed - name and region are not quantitative and we dont necessarily want to use each country to map to its respective income inequality


 
Country name, regional dummy, id


may drop gdp bc there are so few entries for it
when gdp is not dropped then there are 52 non null entries
when gdp is dropped then there are 122 entries 

this is a 142% increase in the number of entries.

**I will drop gdp and see how it goes.**

In [99]:
df = df.drop(columns=['country','region_wb','id','gdp'])
df.head()

,federalism_GT,statehiste1500_02n,origtime2,eleva,avg_temp,Maddison_gdppc_1990_estimate_ln,lp_lat_abst_fill,mountains,log_ocdistance_new,rugged,...,sd_emeanclip,Urbanpopulationoftotalpop,dist2suitable_km_new,Ygini_disp,Fixedtelephonesubscriptionsp,Employmentinagricultureof,Accesstoelectricityofpopu,pln_sxHr_mean,agyears_ext,popd_1500AD
0,2.0,0.311557,15000.0,1076.740352,21.6,9.079312,0.255556,0.455154,2.952231,1.732390,...,0.776437,76.920,191207.98,46.400002,18.318046,13.790000,98.110626,2626.828031,4100.0,12.078997
1,0.0,NaN,NaN,184.250987,26.0,8.904918,0.044444,0.048973,4.338826,0.306818,...,0.133851,66.547,175987.63,45.799999,16.041285,8.460000,94.783394,6696.253076,1500.0,0.057579
2,0.0,0.124440,8000.0,359.346328,3.6,10.248469,0.688889,0.190206,4.567989,0.715470,...,0.248912,84.588,108188.94,25.000000,60.024409,2.250000,100.000000,0.000000,5500.0,0.842480
3,2.0,0.358282,45000.0,1317.581088,7.0,10.436217,0.522222,0.938316,5.708037,4.761175,...,0.625552,73.530,358067.16,29.900000,65.373435,4.000000,100.000000,877.940256,5500.0,19.928775
4,0.0,0.082024,135000.0,208.329245,27.6,7.401412,0.088889,0.016055,4.321187,0.227549,...,0.074167,48.669,351368.59,43.000000,1.639566,53.939999,56.975372,6889.873359,3500.0,7.670432

drop empty cells, check how much data is left

In [100]:
df=df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122 entries, 0 to 204
Data columns (total 24 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   federalism_GT                    122 non-null    float64
 1   statehiste1500_02n               122 non-null    float64
 2   origtime2                        122 non-null    float64
 3   eleva                            122 non-null    float64
 4   avg_temp                         122 non-null    float64
 5   Maddison_gdppc_1990_estimate_ln  122 non-null    float64
 6   lp_lat_abst_fill                 122 non-null    float64
 7   mountains                        122 non-null    float64
 8   log_ocdistance_new               122 non-null    float64
 9   rugged                           122 non-null    float64
 10  tropical                         122 non-null    float64
 11  pmean                            122 non-null    float64
 12  irri_impact5                     122 non-null    float64
 13  frstdays                         122 non-null    float64
 14  sd_emeanclip                     122 non-null    float64
 15  Urbanpopulationoftotalpop        122 non-null    float64
 16  dist2suitable_km_new             122 non-null    float64
 17  Ygini_disp                       122 non-null    float64
 18  Fixedtelephonesubscriptionsp     122 non-null    float64
 19  Employmentinagricultureof        122 non-null    float64
 20  Accesstoelectricityofpopu        122 non-null    float64
 21  pln_sxHr_mean                    122 non-null    float64
 22  agyears_ext                      122 non-null    float64
 23  popd_1500AD                      122 non-null    float64
dtypes: float64(24)
memory usage: 23.8 KB

In [101]:
vars = ['federalism_GT',
 'statehiste1500_02n',
 'origtime2',
 'eleva',
 'avg_temp',
 'Maddison_gdppc_1990_estimate_ln',
 'lp_lat_abst_fill',
 'mountains',
 'log_ocdistance_new',
 'rugged',
 'tropical',
 'pmean',
 'irri_impact5',
 'frstdays',
 'sd_emeanclip',
 'Urbanpopulationoftotalpop',
 'dist2suitable_km_new',
 'Fixedtelephonesubscriptionsp',
 'Employmentinagricultureof',
 'Accesstoelectricityofpopu',
 'pln_sxHr_mean',
 'agyears_ext',
 'popd_1500AD']

In [102]:
x = df.loc[:, vars].values
y = df.loc[:, 'Ygini_disp'].values